<h1>Movies index page!</h1>

<ul>
  <%= @movies.each do |movie| %>
    <li>
      <div class="thumbnail">
        <img src="<%= movie.thumbnail%>">
      </div>
      <%= movie.title %>
    </li>
  <% end %>
</ul>