.movie-header {
  background-color: #000000;
  color: white;
  display: block;
  min-height: 250px;
  text-align: center;
  padding-top: 75px;
}

.header-title, .header-subtitle {
  font-family: 'Oswald', sans-serif;
}

.header-title {
  font-size: 5em;
}

.header-subtitle {
  font-size: 1.8em;
}