.movie-wrapper {
  padding-right: 5%;
  overflow: hidden;
  margin-top: 80px;
  width: 90%;
  display: inline-block;
}

.movie-tile {
  border: 5px solid #C0C6C9;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: 'Oswald', sans-serif;
  line-height: 0.97;
  float: right;
  position: relative;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 28%;
  padding-bottom: 8%;
}

.movie-tile-inner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.movie-thumbnail {
  display: inline-block;
  float: left;
  margin-right: 3%;
}