<div class="title">Reviews</div>

<div class="reviews">
  <ul>
    <% @reviews.each do |review| %>
    <div>
        <li>
          <div class="movie-name"><%= review.movie.title %></div>
          <div class="review-name"><%= review.name %></div>
          <div class="review-score">Scored: <%= review.score %></div>
          <div class="review-content"><%= review.content %></div>
        </li>
    </div>
    <% end %>
  </ul>
</div>