<div class="title">Reviews</div>

<div class="reviews">
  <ul>
    <% @reviews.each do |reviewz| %>
    <div>
        <li>
          <div class="movie-name"><%= reviewz.movie.title %></div>
          <div class="review-name"><%= reviewz.name %></div>
          <div class="review-score">Scored: <%= reviewz.score %></div>
          <div class="review-content"><%= reviewz.content %></div>
        </li>
    </div>
    <% end %>
  </ul>
</div>